h1{
text-align : center;
color:red;
}
p#sub{
	text-align : center;
}
table {
    border-collapse: collapse; /* CSS2 */
    background: #FFFFF0;
}
 
 td {
    border: 1px solid black;
}
 
 th {
    border: 1px solid black;
    background: #F0FFF0;
}
p#perfil{
	text-align : left
}
div.figure {
  float: right;
  width: 30%;
  border: thin silver solid;
  margin: 0.5em;
  padding: 0.5em;
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}
img.scaled {
  width: 100%;
}